
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /_MediaTrends/MediaKit/wp-htdocs/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /_MediaTrends/MediaKit/wp-htdocs/index.php [L]
</IfModule>

# END WordPress
